*~
webvue/node_modules/
webvue/coverage/
webvue/.vitest/
webvue/static/dist/
webvue/test-results/
webvue/static/goivy-check-wasip1.wasm
webvue/static/goivy-check-js.wasm
webvue/static/z3-471-api.wasm
svk/static/wasm/z3-471-api.wasm
svk/static/wasm/goivy-check-js.wasm
svk/static/wasm/goivy-webengine.wasm
*.wasm

