*~
ivyweb
z3ivy/
*.test
testdata
goivy_check
out.go.xtrace
out.py.xtrace
log.red
log.red.prev
log.tlb
log.tlb.prev
GTAGS
GPATH
GRTAGS
.gtags.files
ivy.vmt
goivy_mc.log
ivy_mc.log
y.output
log.rfn
log.rfn.prev
log.golden.2hr
log.golden.2hr.prev
webui/node_modules/
webui/coverage/
webui/.vitest/
webui/playwright-report/
webui/test-results/
control/node_modules/
control/playwright-report/
control/test-results/
.runweb/
.cache
browser.xtrace.log
py.xtrace.log
webui/static/dist
webui/static/wasm/goivy-webengine.wasm
z3vendor/z3/wasm.build.good/
log.echo
webui/static/wasm/goivy-check-js.wasm
z3vendor/native_lib/z3
out.test.05550.go.txt
out.test.05550.py.txt
log.echo.prev
log.golden.all
log.golden.all.prev
log.golden16.all
log.golden16.all.prev
tmp-ivy2cpp-check
